.changePositive{
    color:black;
    background-color: #E2B1B1;
    
}
.changeNegative{
    color:black;
    background-color: #CCD6EB;
    
}

.changeDouble{
    color:black;
    background-color: #F5F8DE;
    
}